BlackNight/BlackNight/Service References/ServiceReference/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2622/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" />
  <xs:element name="NovaVenda">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="v" nillable="true" type="q1:Venda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NovaVendaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarVendas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarVendasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="ListarVendasResult" nillable="true" type="q2:ArrayOfVenda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcurarId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCliente" type="xs:int" />
        <xs:element minOccurs="0" name="idEvento" type="xs:int" />
        <xs:element minOccurs="0" name="dtEvento" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcurarIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="ProcurarIdResult" nillable="true" type="q3:Venda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PesquisarVenda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PesquisarVendaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="PesquisarVendaResult" nillable="true" type="q4:Venda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NovoCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="c" nillable="true" type="q5:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NovoClienteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PesquisarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PesquisarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="PesquisarClienteResult" nillable="true" type="q6:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarClientes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarClientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="ListarClientesResult" nillable="true" type="q7:ArrayOfCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="c" nillable="true" type="q8:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirClienteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NovoEvento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="ev" nillable="true" type="q9:Evento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NovoEventoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarEventos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarEventosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="ListarEventosResult" nillable="true" type="q10:ArrayOfEvento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirEvento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="ev" nillable="true" type="q11:Evento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirEventoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PesquisarEvento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PesquisarEventoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="PesquisarEventoResult" nillable="true" type="q12:Evento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PesquisarPreco">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="tipoIngresso" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PesquisarPrecoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="PesquisarPrecoResult" nillable="true" type="q13:Evento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarHoraDoEvento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarHoraDoEventoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListarHoraDoEventoResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NovaFormaPagto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="fp" nillable="true" type="q14:FormaPagto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NovaFormaPagtoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarFormaPagto">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarFormaPagtoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="ListarFormaPagtoResult" nillable="true" type="q15:ArrayOfFormaPagto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PesquisarFormaPagtoID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PesquisarFormaPagtoIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="PesquisarFormaPagtoIDResult" nillable="true" type="q16:FormaPagto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PesquisarFormaPagto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PesquisarFormaPagtoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="PesquisarFormaPagtoResult" nillable="true" type="q17:FormaPagto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NovaFormaPagtoVenda">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="fpv" nillable="true" type="q18:FormaPagtoVenda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NovaFormaPagtoVendaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarFormaPagtoVenda">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarFormaPagtoVendaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="ListarFormaPagtoVendaResult" nillable="true" type="q19:ArrayOfFormaPagtoVenda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PesquisarFormaPagtoVenda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PesquisarFormaPagtoVendaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="PesquisarFormaPagtoVendaResult" nillable="true" type="q20:FormaPagtoVenda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NovaAtracao">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="a" nillable="true" type="q21:Atracao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NovaAtracaoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PesquisarAtracao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PesquisarAtracaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="PesquisarAtracaoResult" nillable="true" type="q22:Atracao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAtracoes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAtracoesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="ListarAtracoesResult" nillable="true" type="q23:ArrayOfAtracao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NovoRitmoEvento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="re" nillable="true" type="q24:RitmoEvento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NovoRitmoEventoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PesquisarRitmoEvento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PesquisarRitmoEventoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="PesquisarRitmoEventoResult" nillable="true" type="q25:RitmoEvento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NovoRitmo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="r" nillable="true" type="q26:Ritmo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NovoRitmoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PesquisarRitmo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PesquisarRitmoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="PesquisarRitmoResult" nillable="true" type="q27:Ritmo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarRitmos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarRitmosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="ListarRitmosResult" nillable="true" type="q28:ArrayOfRitmo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirRitmo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Biblioteca.Basicas" minOccurs="0" name="r" nillable="true" type="q29:Ritmo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirRitmoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>